html, body {
    margin: 0;
}
.background{
    position: absolute;
    z-index: -2;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: ghostwhite;
}
#header-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 30%;
    background-color: mediumpurple;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    background-color: transparent;
}
.column {
    text-align: center;
    background-color: transparent;
}
#header {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputs {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#howto {
    width: 35%;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
}
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.parent-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.parent-image-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
}
.parent-image-column img {
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}
.logo {
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo img {
    width: 100%;
}
.parent {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 120px;
}
.child-h1 {
    padding-right: 5px;
    font-size: 40px;
    color: white;
}
.child {
    font-family: 'Black Ops One', cursive;
    color: rebeccapurple;
}
.row {
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 15px 35px 0 rgba(18,37,49,.1),0 5px 15px 0 rgba(0,0,0,.05);
    border-radius: 8px;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#column-header {
    height: 10%;
    width: 95%;
    justify-content: center;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Black Ops One", cursive;
    font-size: 30px;
}
.title-separator {
    padding: 10px;
}
#column-body-1 {
    height: 40%;
    width: 95%;
    align-items: center;
    justify-content: center;
}
#column-body-2 {
    height: 40%;
    width: 95%;
    align-items: center;
    justify-content: center;
}
#column-footer {
    height: 5%;
    width: 95%;
    align-items: center;
    justify-content: center;
}
.file-input-padding {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: 75%;
}
.file-input-header {
    font-family: "Black Ops One", cursive;
    padding: 0;
}
.file-input-body-example {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.example-title {
    /*margin-top: 0px;*/
    margin-bottom: 4px;
}
#file-example {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 0.80vw;
}
.example-links-1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(147,112,219, 0.5);
}
.example-links-2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.example-links-3 {
    width: 100%;
    margin-top: 0px;
    background-color: rgba(147,112,219, 0.5);
}
.input-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#file-input-label {
    align-self: flex-start;
    margin-bottom: 4px;
}
.input-body input[type='file'] {
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#fileupload + #upload-button {
    background-color: mediumpurple;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
#upload-button {
    width: 100%;
}
.text-input-area {
    width: 100%;
    resize: none;
    font-size: 0.80vw;
    outline: none;
    border: none;
}
.footline {
    width: 100%;
    height: 2px;
    background-color: mediumpurple;
    margin-top: 5px;
}
.submit-button {
    width: 100%;
    height: 100%;
    /*border-radius: 8px;*/
}
#submit {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: rebeccapurple;
    background-color: white;
    font-family: "Black Ops One", cursive;
    font-size: 20px;
}
.rounded-box {
    width: 95%;
    height: 100%;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 15px 35px 0 rgba(18,37,49,.1),0 5px 15px 0 rgba(0,0,0,.05);
    border-radius: 8px;
    background-color: white;
}
/*#file-input {*/
/*    float: top;*/
/*}*/
/*#text-input {*/
/*    float: bottom;*/
/*}*/