html
    body
        style
            include stylesheets/howto.css
        div(id='rounded-box')
            div(id='rounded-box-content')
                div(id='title')
                    h1 'how to use tvd'
                div(id='instructions')
                    p    tvd stands for twitch video downloader, and is a free to use tool
                    p    that allows you to download up to 30 twitch clips at once! PLEASE
                    p    DO NOT TRY TO DOWNLOAD MORE THAN 30 VIDEOS. To use this service,
                    p    create a 'clips.txt' file on your computer, which includes a twitch
                    p    clip link on every line. Do not put two links on one line, and do not
                    p    leave any unnecessary spaces or text. When pressing submit, you will
                    p    be redirected to a new screen with all your clips, and by clicking on
                    p    their thumbnails, you can download each one. Visit tvd on github and
                    p    help the project!
                div(id='link')
                    a(href='https://github.com/stefpi/tvd') https://github.com/stefpi/tvd